## <center><ins>Trabajo Práctico 2: Criticas de peliculas</ins></center>
#### <center>*Preprocesamiento alternativo para Robertuito*</center>
##### <center>75.06 / 95.58 Organización de Datos - FIUBA</center>
##### <center>Ing. Rodríguez - 1°C 2023</center>
---
#### <center>**Grupo 31 - "Datazo":**</center>
<center> Michael Mena - 102685</center>
<center>Pablo Brocca - 104256</center>
<center>Diego Kisinovsky - 106203</center>

---
---

## Dataset de entrenamiento

### Importamos las librerias

In [7]:
import pandas as pd
import numpy as np

# import spacy

### Lectura del dataset

In [8]:
df = pd.read_csv('dataset/train.csv', sep=',', header=0)
df.head()

   ID                                          review_es sentimiento
0   0  Uno de los otros críticos ha mencionado que de...    positivo
1   1  Una pequeña pequeña producción.La técnica de f...    positivo
2   2  Pensé que esta era una manera maravillosa de p...    positivo
3   3  Básicamente, hay una familia donde un niño peq...    negativo
4   4  El "amor en el tiempo" de Petter Mattei es una...    positivo

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           50000 non-null  int64
 1   review_es    50000 non-null  object
 2   sentimiento  50000 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

Cargamos las stopwords en español

In [10]:
sw = pd.read_csv('./dataset/my-stop-words.csv')['palabra'].to_list()

### Definimos las funciones

In [11]:
# Función para eliminar las stopwords de una frase
def remove_stopwords(sentence):
    words = sentence.split()
    filtered_words = [word for word in words if word.lower() not in sw]
    return ' '.join(filtered_words)

### Preparación de features

In [12]:
# Mapeo de la columna "sentimiento" a valores numéricos

df = df.rename(columns={'review_es': 'text', 'sentimiento': 'label'})

df.drop(['ID'], axis=1, inplace=True)

df['label'] = df['label'].map({'negativo': 0, 'positivo': 1})

df.head()

                                                text  label
0  Uno de los otros críticos ha mencionado que de...      1
1  Una pequeña pequeña producción.La técnica de f...      1
2  Pensé que esta era una manera maravillosa de p...      1
3  Básicamente, hay una familia donde un niño peq...      0
4  El "amor en el tiempo" de Petter Mattei es una...      1

### Eliminación de stopwords

In [13]:
# Aplicar la eliminación de stopwords a la columna 'text'
df['text'] = df['text'].apply(remove_stopwords)

## Dataset de test

### Lectura del dataset:

In [14]:
df_test = pd.read_csv('dataset/test.csv', sep=',', header=0)
df_test.head()

      ID                                          review_es
0  60000  La mayor virtud de esta película es su existen...
1  60001  No soy un experto cinéfilo, pero pocas veces m...
2  60002  Si no eres un incondicional del humor estilo T...
3  60003  No sé qué está pasando, si la gente se deja ll...
4  60004  Pero cuando amanece,y me quedo solo,siento en ...

### Aplicamos las mismas transformaciones que al dataset de entrenamiento

In [15]:
df_test = df_test.rename(columns={'review_es': 'text'})

df_test['text'] = df_test['text'].apply(remove_stopwords)

df_test.head()

      ID                                               text
0  60000  mayor virtud película existencia.El hecho poda...
1  60001  experto cinéfilo, pocas veces tan juego sala c...
2  60002  incondicional humor estilo Tele 5.Si terminas ...
3  60003  sé pasando, gente deja llevar modas, verdad gu...
4  60004  amanece,y quedo solo,siento fondoun mar vacío,...

## Exportación de datasets preprocesados

In [16]:
# Entrenamiento
df.to_csv('./dataset/train_pre_no_sw.csv', index=False)

# Test
df_test.to_csv('./dataset/test_pre_no_sw.csv', index=False)